# Registers all container hostname to ip address mappings
dns:
  image: iverberk/docker-spy
  hostname: dns.dockerdomain
  environment:
    DNS_DOMAIN: dockerdomain
  volumes:
    - /var/run/docker.sock:/var/run/docker.sock
  ports:
    - "53:53"
    - "53:53/udp"

zookeeper:
  build: zookeeper
  hostname: zookeeper.dockerdomain
  dns: ["172.17.0.1"]

hdfsnamenode:
  build: hdfs-namenode
  hostname: hdfs-namenode.dockerdomain
  volumes:
    - ./conf.docker_cluster:/etc/hadoop/conf:ro
  dns: ["172.17.0.1"]

yarnresourcemanager:
  build: yarn-resource-manager
  hostname: yarn-resource-manager.dockerdomain
  volumes:
    - ./conf.docker_cluster:/etc/hadoop/conf:ro
  dns: ["172.17.0.1"]

mapreducehistory:
  build: mapreduce-history
  hostname: mapreduce-history.dockerdomain
  volumes:
    - ./conf.docker_cluster:/etc/hadoop/conf:ro
  dns: ["172.17.0.1"]

clusternode:
  build: cluster-node
  domainname: dockerdomain
  volumes:
    - ./conf.docker_cluster:/etc/hadoop/conf:ro
  dns: ["172.17.0.1"]
